{
  "openapi": "3.1.0",
  "info": {
    "title": "IO Intelligence",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.intelligence.io.solutions"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/api/r2r/v3/conversations/{id}": {
      "post": {
        "summary": "Update conversation",
        "description": "Update an existing conversation. This endpoint updates the name of an existing conversation identified by its UUID.",
        "operationId": "update-conversation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the conversation to delete",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The updated name for the conversation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "results": {
                        "id": "id",
                        "created_at": "2024-01-15T09:30:00Z",
                        "user_id": "user_id",
                        "name": "name"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "id"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-01-15T09:30:00Z"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "user_id"
                        },
                        "name": {
                          "type": "string",
                          "example": "name"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST https://api.intelligence.io.solutions/api/r2r/v3/conversations/{id} \\\n  -H \"Authorization: Bearer $IOINTELLIGENCE_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"title\": \"Updated Chat\"}'"
            },
            {
              "language": "python",
              "code": "from r2r import R2RClient\n\nclient = R2RClient()\n# when using auth, do client.login(...)\n\nresult = client.conversations.update(\"123e4567-e89b-12d3-a456-426614174000\", \"new_name\")"
            }
          ],
          "samples-languages": [
            "curl",
            "python"
          ]
        }
      }
    }
  }
}