{
  "openapi": "3.1.0",
  "info": {
    "title": "IO Intelligence",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.intelligence.io.solutions"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/api/r2r/v3/users/{id}/collections/{collection_id}": {
      "delete": {
        "summary": "Remove user from collection",
        "description": "Remove a user from a collection. Requires either superuser status or access to the collection.",
        "operationId": "delete-user-from-collection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "collection_id",
            "in": "path",
            "description": "Collection ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "results": {
                        "success": true
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X DELETE https://api.intelligence.io.solutions/api/r2r/v3/users/user_123/collections/col_abc \\\n  -H \"Authorization: Bearer $IOINTELLIGENCE_API_KEY\""
            },
            {
              "language": "curl",
              "code": "from r2r import R2RClient\n\nclient = R2RClient()\n# client.login(...)\n\n# Remove user from collection\nclient.users.remove_from_collection(\n    id=\"550e8400-e29b-41d4-a716-446655440000\",\n    collection_id=\"750e8400-e29b-41d4-a716-446655440000\"\n)"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    }
  }
}