{
  "openapi": "3.1.0",
  "info": {
    "title": "IO Intelligence",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.intelligence.io.solutions"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/api/r2r/v3/graphs/{collection_id}": {
      "get": {
        "summary": "Retrieve graph details",
        "description": "Retrieves detailed information about a specific graph by ID.",
        "operationId": "get-graph-data-for-a-collection",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "description": "ID of the collection to inspect",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "results": {
                        "id": "id",
                        "collection_id": "collection_id",
                        "name": "name",
                        "status": "status",
                        "created_at": "2024-01-15T09:30:00Z",
                        "updated_at": "2024-01-15T09:30:00Z",
                        "document_ids": [
                          "document_ids"
                        ],
                        "description": "description"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "id"
                        },
                        "collection_id": {
                          "type": "string",
                          "example": "collection_id"
                        },
                        "name": {
                          "type": "string",
                          "example": "name"
                        },
                        "status": {
                          "type": "string",
                          "example": "status"
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2024-01-15T09:30:00Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2024-01-15T09:30:00Z"
                        },
                        "document_ids": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "document_ids"
                          }
                        },
                        "description": {
                          "type": "string",
                          "example": "description"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET https://api.intelligence.io.solutions/api/r2r/v3/graphs/{collection_id} \\\n  -H \"Authorization: Bearer $IOINTELLIGENCE_API_KEY\""
            },
            {
              "language": "python",
              "code": "from r2r import R2RClient\n\nclient = R2RClient()\n# when using auth, do client.login(...)\n\nresponse = client.graphs.get(\n    collection_id=\"d09dedb1-b2ab-48a5-b950-6e1f464d83e7\"\n"
            }
          ],
          "samples-languages": [
            "curl",
            "python"
          ]
        }
      }
    }
  }
}