{
  "openapi": "3.1.0",
  "info": {
    "title": "IO Intelligence",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.intelligence.io.solutions"
    }
  ],
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/api/v1/models": {
      "get": {
        "tags": [
          "OpenAI Compatible Developer API"
        ],
        "summary": "Get Models List",
        "description": "Get list of available models for Chat Completions API",
        "operationId": "get_models_list_v1_models_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelList"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl https://api.intelligence.io.solutions/api/v1/models \\\n  -H \"Authorization: Bearer $IOINTELLIGENCE_API_KEY\" "
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.intelligence.io.solutions/api/v1/models\"\n\nheaders = {\n    \"accept\": \"application/json\",\n    \"Authorization\": \"Bearer $IOINTELLIGENCE_API_KEY\",  \n}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            }
          ],
          "samples-languages": [
            "curl",
            "python"
          ]
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    },
    "schemas": {
      "ModelCard": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "object": {
            "type": "string",
            "title": "Object",
            "default": "model"
          },
          "created": {
            "type": "integer",
            "title": "Created"
          },
          "owned_by": {
            "type": "string",
            "title": "Owned By",
            "default": "io-intelligence"
          },
          "root": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Root"
          },
          "parent": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parent"
          },
          "max_model_len": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Model Len"
          },
          "permission": {
            "items": {
              "$ref": "#/components/schemas/ModelPermission"
            },
            "type": "array",
            "title": "Permission"
          },
          "max_tokens": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Tokens",
            "description": "Maximum number of tokens that can be generated in a single response"
          },
          "context_window": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Context Window",
            "description": "Maximum number of tokens that can be processed in the model's context window"
          },
          "supports_images_input": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Supports Images Input",
            "description": "Whether the model supports image inputs for multimodal processing"
          },
          "supports_prompt_cache": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Supports Prompt Cache",
            "description": "Whether the model supports prompt caching to improve performance"
          },
          "input_token_price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Input Token Price",
            "description": "Price per token for input processing (in dollars)"
          },
          "output_token_price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Output Token Price",
            "description": "Price per token for output generation (in dollars)"
          },
          "cache_write_token_price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cache Write Token Price",
            "description": "Price per token for writing to prompt cache (in dollars)"
          },
          "cache_read_token_price": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cache Read Token Price",
            "description": "Price per token for reading from prompt cache (in dollars)"
          },
          "precision": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Precision",
            "description": "Model precision type (e.g., 'fp16', 'fp32', 'int8', 'int4')"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": [
          "id"
        ],
        "title": "ModelCard"
      },
      "ModelList": {
        "properties": {
          "object": {
            "type": "string",
            "title": "Object",
            "default": "list"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/ModelCard"
            },
            "type": "array",
            "title": "Data"
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ModelList"
      },
      "ModelPermission": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "object": {
            "type": "string",
            "title": "Object",
            "default": "model_permission"
          },
          "created": {
            "type": "integer",
            "title": "Created"
          },
          "allow_create_engine": {
            "type": "boolean",
            "title": "Allow Create Engine",
            "default": false
          },
          "allow_sampling": {
            "type": "boolean",
            "title": "Allow Sampling",
            "default": true
          },
          "allow_logprobs": {
            "type": "boolean",
            "title": "Allow Logprobs",
            "default": true
          },
          "allow_search_indices": {
            "type": "boolean",
            "title": "Allow Search Indices",
            "default": false
          },
          "allow_view": {
            "type": "boolean",
            "title": "Allow View",
            "default": true
          },
          "allow_fine_tuning": {
            "type": "boolean",
            "title": "Allow Fine Tuning",
            "default": false
          },
          "organization": {
            "type": "string",
            "title": "Organization",
            "default": "*"
          },
          "group": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Group"
          },
          "is_blocking": {
            "type": "boolean",
            "title": "Is Blocking",
            "default": false
          }
        },
        "additionalProperties": true,
        "type": "object",
        "title": "ModelPermission"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      }
    }
  }
}