{
  "openapi": "3.0.3",
  "info": {
    "title": "Workflow API",
    "description": "⚠️ **Beta Notice**: This project is in rapid development and may not be stable for production use.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.intelligence.io.solutions",
      "description": "SwaggerHub API Auto Mocking"
    }
  ],
  "paths": {
    "/v1/workflows/schema": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get Default Workflows",
        "operationId": "get_default_workflows_v1_workflows_schema_get",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "JWT token",
            "required": false,
            "schema": {
              "title": "Token",
              "type": "string",
              "description": "JWT token"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "io.net provided API Key",
            "required": false,
            "schema": {
              "title": "Authorization",
              "type": "string",
              "description": "io.net provided API Key"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key set by an SDK client",
            "required": false,
            "schema": {
              "title": "X-Api-Key",
              "type": "string",
              "description": "API key set by an SDK client"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "ValidationError": {
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      }
    }
  }
}