{
  "openapi": "3.0.3",
  "info": {
    "title": "IO Intelligence",
    "version": "1.0"
  },
  "servers": [
    { "url": "https://api.intelligence.io.solutions" }
  ],
  "components": {
    "securitySchemes": {
      "sec0": { "type": "oauth2", "flows": {} }
    }
  },
  "security": [{ "sec0": [] }],
  "paths": {
    "/api/v1/workflows/schema": {
      "get": {
        "summary": "Workflows Schema",
        "description": "Get list of available models for Embeddings API",
        "operationId": "workflows-schema",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TextRequest" },
                "examples": {
                  "Result": {
                    "value": {
                      "text": "Example text",
                      "args": null,
                      "agent_names": ["agent1", "agent2"]
                    }
                  }
                }
              }
            }
          },
          "404": { "description": "Not Found" },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "loc": { "type": "array", "items": { "type": "string" } },
                          "msg": { "type": "string" },
                          "type": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
