{
  "openapi": "3.0.3",
  "info": {
    "title": "IO Intelligence API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.intelligence.io.solutions"
    }
  ],
  "paths": {
    "/api/v1/workflows/schema": {
      "get": {
        "summary": "Get available workflow schemas for the Embeddings API",
        "description": "This endpoint returns the schema of available workflows including classification, summarization, translation, and other tasks.",
        "operationId": "getWorkflowsSchema",
        "responses": {
          "200": {
            "description": "Successfully retrieved workflow schema",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "Text input for processing"
                    },
                    "args": {
                      "anyOf": [
                        {
                          "type": "object",
                          "description": "Classification arguments",
                          "properties": {
                            "classify_by": {
                              "type": "array",
                              "items": { "type": "string" },
                              "description": "List of categories to classify by"
                            }
                          },
                          "required": ["classify_by"]
                        },
                        {
                          "type": "object",
                          "description": "Custom workflow arguments",
                          "properties": {
                            "name": { "type": "string", "description": "Unique name/ID for the custom workflow step" },
                            "objective": { "type": "string", "description": "Primary objective or text prompt" },
                            "instructions": { "type": "string", "description": "Optional instructions for the workflow" },
                            "context": { "type": "object", "description": "Additional context or parameters" }
                          },
                          "required": ["name", "objective", "instructions"]
                        },
                        {
                          "type": "object",
                          "description": "Extract entities arguments",
                          "properties": {}
                        },
                        {
                          "type": "object",
                          "description": "Moderation arguments",
                          "properties": {
                            "threshold": { "type": "number", "description": "Moderation threshold" }
                          },
                          "required": ["threshold"]
                        },
                        {
                          "type": "object",
                          "description": "Reasoning arguments",
                          "properties": {}
                        },
                        {
                          "type": "object",
                          "description": "Sentiment analysis arguments",
                          "properties": {}
                        },
                        {
                          "type": "object",
                          "description": "Summarization arguments",
                          "properties": {
                            "max_words": { "type": "integer", "default": 100, "description": "Maximum words in summary" }
                          }
                        },
                        {
                          "type": "object",
                          "description": "Translation arguments",
                          "properties": {
                            "target_language": { "type": "string", "description": "Target language for translation" }
                          },
                          "required": ["target_language"]
                        }
                      ],
                      "nullable": true,
                      "description": "Workflow-specific arguments or null"
                    },
                    "agent_names": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "Names of agents to execute the workflow"
                    }
                  },
                  "required": ["text", "agent_names"],
                  "title": "TextRequest"
                },
                "example": {
                  "text": "Example text",
                  "args": null,
                  "agent_names": ["agent1", "agent2"]
                }
              }
            }
          },
          "404": {
            "description": "Schema not found",
            "content": { "text/plain": { "example": "Not found" } }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    { "loc": ["body", "text"], "msg": "field required", "type": "value_error.missing" }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
