{
  "openapi": "3.0.3",
  "info": {
    "title": "IO Intelligence Workflows API",
    "version": "1.0.0",
    "description": "OpenAPI specification for the Workflows Schema endpoint."
  },
  "servers": [
    {
      "url": "https://api.intelligence.io.solutions/api/v1"
    }
  ],
  "paths": {
    "/workflows/schema": {
      "post": {
        "summary": "Execute Workflow with Schema",
        "operationId": "executeWorkflowSchema",
        "tags": ["Workflows"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextRequest"
              },
              "example": {
                "text": "Analyze this input text for sentiment and summarize.",
                "agent_names": ["default-agent"],
                "args": {
                  "type": "summarize_text",
                  "max_words": 50
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Dynamic response depending on workflow type."
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Workflows Schema",
        "operationId": "getWorkflowsSchema",
        "tags": ["Workflows"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow schema definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextRequest"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ClassificationArgs": {
        "type": "object",
        "title": "ClassificationArgs",
        "required": ["classify_by"],
        "properties": {
          "classify_by": {
            "type": "array",
            "title": "Classify By",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CustomArgs": {
        "type": "object",
        "title": "CustomArgs",
        "required": ["name", "objective", "instructions"],
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Unique name/ID for the custom workflow step."
          },
          "objective": {
            "type": "string",
            "title": "Objective",
            "description": "Primary objective or text prompt for the workflow."
          },
          "instructions": {
            "type": "string",
            "title": "Instructions",
            "description": "Optional instructions to be passed along."
          },
          "context": {
            "type": "object",
            "title": "Context",
            "description": "Additional context or parameters."
          }
        }
      },
      "ExtractEntitiesArgs": {
        "type": "object",
        "title": "ExtractEntitiesArgs",
        "properties": {}
      },
      "ModerationArgs": {
        "type": "object",
        "title": "ModerationArgs",
        "required": ["threshold"],
        "properties": {
          "threshold": {
            "type": "number",
            "title": "Threshold"
          }
        }
      },
      "ReasoningArgs": {
        "type": "object",
        "title": "ReasoningArgs",
        "properties": {}
      },
      "SentimentArgs": {
        "type": "object",
        "title": "SentimentArgs",
        "properties": {}
      },
      "SummarizeArgs": {
        "type": "object",
        "title": "SummarizeArgs",
        "properties": {
          "max_words": {
            "type": "integer",
            "title": "Max Words",
            "default": 100
          }
        }
      },
      "TranslateArgs": {
        "type": "object",
        "title": "TranslateArgs",
        "required": ["target_language"],
        "properties": {
          "target_language": {
            "type": "string",
            "title": "Target Language"
          }
        }
      },
      "TextRequest": {
        "type": "object",
        "title": "TextRequest",
        "required": ["text", "agent_names"],
        "properties": {
          "text": {
            "type": "string",
            "title": "Text"
          },
          "args": {
            "title": "Args",
            "default": null,
            "anyOf": [
              {
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "classify": "#/components/schemas/ClassificationArgs",
                    "custom": "#/components/schemas/CustomArgs",
                    "extract_categorized_entities": "#/components/schemas/ExtractEntitiesArgs",
                    "moderation": "#/components/schemas/ModerationArgs",
                    "sentiment": "#/components/schemas/SentimentArgs",
                    "solve_with_reasoning": "#/components/schemas/ReasoningArgs",
                    "summarize_text": "#/components/schemas/SummarizeArgs",
                    "translate_text": "#/components/schemas/TranslateArgs"
                  }
                },
                "oneOf": [
                  { "$ref": "#/components/schemas/ReasoningArgs" },
                  { "$ref": "#/components/schemas/SummarizeArgs" },
                  { "$ref": "#/components/schemas/SentimentArgs" },
                  { "$ref": "#/components/schemas/ExtractEntitiesArgs" },
                  { "$ref": "#/components/schemas/TranslateArgs" },
                  { "$ref": "#/components/schemas/ClassificationArgs" },
                  { "$ref": "#/components/schemas/ModerationArgs" },
                  { "$ref": "#/components/schemas/CustomArgs" }
                ]
              },
              { "type": "null" }
            ]
          },
          "agent_names": {
            "type": "array",
            "title": "Agent Names",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
