{
  "openapi": "3.0.3",
  "info": {
    "title": "IO Intelligence",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.intelligence.io.solutions"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ClassificationArgs": {
        "type": "object",
        "properties": {
          "classify_by": {
            "type": "array",
            "items": { "type": "string" },
            "title": "Classify By"
          }
        },
        "required": ["classify_by"]
      },
      "CustomArgs": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Unique name/ID for the custom workflow step." },
          "objective": { "type": "string", "description": "Primary objective or text prompt for the workflow." },
          "instructions": { "type": "string", "description": "Optional instructions to be passed along." },
          "context": { "type": "object", "description": "Additional context or parameters." }
        },
        "required": ["name", "objective", "instructions"]
      },
      "ExtractEntitiesArgs": { "type": "object", "properties": {} },
      "ModerationArgs": {
        "type": "object",
        "properties": { "threshold": { "type": "number" } },
        "required": ["threshold"]
      },
      "ReasoningArgs": { "type": "object", "properties": {} },
      "SentimentArgs": { "type": "object", "properties": {} },
      "SummarizeArgs": {
        "type": "object",
        "properties": { "max_words": { "type": "integer", "default": 100 } }
      },
      "TranslateArgs": {
        "type": "object",
        "properties": { "target_language": { "type": "string" } },
        "required": ["target_language"]
      },
      "TextRequest": {
        "type": "object",
        "properties": {
          "text": { "type": "string" },
          "args": {
            "anyOf": [
              { "$ref": "#/components/schemas/ClassificationArgs" },
              { "$ref": "#/components/schemas/CustomArgs" },
              { "$ref": "#/components/schemas/ExtractEntitiesArgs" },
              { "$ref": "#/components/schemas/ModerationArgs" },
              { "$ref": "#/components/schemas/ReasoningArgs" },
              { "$ref": "#/components/schemas/SentimentArgs" },
              { "$ref": "#/components/schemas/SummarizeArgs" },
              { "$ref": "#/components/schemas/TranslateArgs" }
            ],
            "nullable": true
          },
          "agent_names": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["text", "agent_names"]
      }
    }
  },
  "paths": {
    "/api/v1/workflows/schema": {
      "get": {
        "summary": "Workflows Schema",
        "description": "Get list of available models for Embeddings API",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TextRequest" },
                "examples": {
                  "full_example": {
                    "value": {
                      "$defs": {
                        "ClassificationArgs": {
                          "classify_by": ["category1", "category2"]
                        },
                        "CustomArgs": {
                          "name": "custom_step",
                          "objective": "Analyze sentiment",
                          "instructions": "Please follow the rules",
                          "context": {}
                        },
                        "ExtractEntitiesArgs": {},
                        "ModerationArgs": { "threshold": 0.5 },
                        "ReasoningArgs": {},
                        "SentimentArgs": {},
                        "SummarizeArgs": { "max_words": 100 },
                        "TranslateArgs": { "target_language": "fr" }
                      },
                      "text": "Example text",
                      "args": null,
                      "agent_names": ["agent1", "agent2"]
                    }
                  }
                }
              }
            }
          },
          "404": { "description": "Not Found" },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "loc": { "type": "array", "items": { "type": "string" } },
                          "msg": { "type": "string" },
                          "type": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
