{
  "openapi": "3.0.3",
  "info": {
    "title": "IO Intelligence",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.intelligence.io.solutions"
    }
  ],
  "paths": {
    "/api/v1/workflows/schema": {
      "get": {
        "summary": "Workflows Schema",
        "description": "Get list of available models for Embeddings API",
        "operationId": "workflows-schema",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["text", "agent_names"],
                  "properties": {
                    "$defs": {
                      "type": "object",
                      "properties": {
                        "ClassificationArgs": {
                          "type": "object",
                          "required": ["classify_by"],
                          "properties": {
                            "classify_by": {
                              "type": "array",
                              "items": { "type": "string" }
                            }
                          }
                        },
                        "CustomArgs": {
                          "type": "object",
                          "required": ["name", "objective", "instructions"],
                          "properties": {
                            "name": { "type": "string" },
                            "objective": { "type": "string" },
                            "instructions": { "type": "string" },
                            "context": { "type": "string" }
                          }
                        },
                        "ExtractEntitiesArgs": { "type": "object" },
                        "ModerationArgs": {
                          "type": "object",
                          "required": ["threshold"],
                          "properties": {
                            "threshold": { "type": "string" }
                          }
                        },
                        "ReasoningArgs": { "type": "object" },
                        "SentimentArgs": { "type": "object" },
                        "SummarizeArgs": {
                          "type": "object",
                          "properties": {
                            "max_words": { "type": "integer", "default": 0 }
                          }
                        },
                        "TranslateArgs": {
                          "type": "object",
                          "required": ["target_language"],
                          "properties": {
                            "target_language": { "type": "string" }
                          }
                        }
                      }
                    },
                    "text": { "type": "string" },
                    "args": {
                      "anyOf": [
                        {
                          "oneOf": [
                            { "$ref": "#/$defs/ReasoningArgs" },
                            { "$ref": "#/$defs/SummarizeArgs" },
                            { "$ref": "#/$defs/SentimentArgs" },
                            { "$ref": "#/$defs/ExtractEntitiesArgs" },
                            { "$ref": "#/$defs/TranslateArgs" },
                            { "$ref": "#/$defs/ClassificationArgs" },
                            { "$ref": "#/$defs/ModerationArgs" },
                            { "$ref": "#/$defs/CustomArgs" }
                          ]
                        },
                        { "type": "null" }
                      ],
                      "default": null
                    },
                    "agent_names": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "404": { "description": "Not Found" },
          "422": { "description": "Validation Error" }
        }
      }
    }
  }
}
