{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/enterprise/v1/io-cloud/caas/deploy": {
      "post": {
        "tags": [
          "enterprise-io-cloud-caas"
        ],
        "summary": "Deploy Containers",
        "operationId": "deploy_containers_enterprise_v1_io_cloud_caas_deploy_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "io.net provided API Key",
              "title": "X-Api-Key"
            },
            "description": "io.net provided API Key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/io_cloud__schemas__request__enterprise_caas__CaaSDeployClusterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST https://api.io.solutions/enterprise/v1/io-cloud/caas/deploy \\\n-H \"X-API-KEY: $IOCLOUD_API_KEY\" \\\n-H \"Content-Type: application/json\" \\\n  -d '{\n  \"resource_private_name\": \"string\",\n  \"duration_hours\": 0,\n  \"gpus_per_container\": 8,\n  \"hardware_id\": 0,\n  \"location_ids\": [\n    0\n  ],\n  \"container_config\": {\n    \"replica_count\": 0,\n    \"env_variables\": {\n      \"additionalProp1\": \"string\",\n      \"additionalProp2\": \"string\",\n      \"additionalProp3\": \"string\"\n    },\n    \"secret_env_variables\": {\n      \"additionalProp1\": \"string\",\n      \"additionalProp2\": \"string\",\n      \"additionalProp3\": \"string\"\n    },\n    \"entrypoint\": [\n      \"string\"\n    ],\n    \"traffic_port\": 0,\n    \"args\": [\n      \"string\"\n    ]\n  },\n  \"registry_config\": {\n    \"image_url\": \"string\",\n    \"registry_username\": \"string\",\n    \"registry_secret\": \"string\"\n  }\n}'\n"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.io.solutions/enterprise/v1/io-cloud/caas/deploy\"\n\nheaders = {\n    \"X-API-KEY\": \"$IOCLOUD_API_KEY\",\n    \"Content-Type\": \"application/json\"\n\n}\n\npayload = {\n    \"resource_private_name\": \"string\",\n    \"duration_hours\": 0,\n    \"gpus_per_container\": 8,\n    \"hardware_id\": 0,\n    \"location_ids\": [0],\n    \"container_config\": {\n        \"replica_count\": 0,\n        \"env_variables\": {\n            \"additionalProp1\": \"string\",\n            \"additionalProp2\": \"string\",\n            \"additionalProp3\": \"string\"\n        },\n        \"secret_env_variables\": {\n            \"additionalProp1\": \"string\",\n            \"additionalProp2\": \"string\",\n            \"additionalProp3\": \"string\"\n        },\n        \"entrypoint\": [\"string\"],\n        \"traffic_port\": 0,\n        \"args\": [\"string\"]\n    },\n    \"registry_config\": {\n        \"image_url\": \"string\",\n        \"registry_username\": \"string\",\n        \"registry_secret\": \"string\"\n    }\n}\n\nresponse = requests.post(url, headers=headers, json=payload)\n\nprint(\"Status Code:\", response.status_code)\nprint(\"Response Body:\", response.json())"
            }
          ],
          "samples-languages": [
            "curl",
            "python"
          ]
        }
      }
    }
  }
}