{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
     "/enterprise/v1/io-cloud/caas/deployment/{deployment_id}/extend": {
      "post": {
        "tags": [
          "enterprise-io-cloud-caas"
        ],
        "summary": "Extend Cluster",
        "operationId": "extend_cluster_enterprise_v1_io_cloud_caas_deployment__deployment_id__extend_post",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Deployment Id"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "io.net provided API Key",
              "title": "X-Api-Key"
            },
            "description": "io.net provided API Key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/io_cloud__schemas__request__enterprise_caas__ExtendCluster"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io_cloud__schemas__response__enterprise__caas__GetDeploymentDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST https://api.io.solutions/enterprise/v1/io-cloud/caas/deployment/{deployment_id}/extend \\\n  -H \"X-API-KEY: $IOCLOUD_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"duration_hours\": 1\n  }'"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.io.solutions/enterprise/v1/io-cloud/caas/deploy\"\n\nheaders = {\n    \"X-API-KEY\": \"$IOCLOUD_API_KEY\",\n    \"Content-Type\": \"application/json\"\n}\n\npayload = {\n    \"duration_hours\": 1\n}\n\nresponse = requests.post(url, headers=headers, json=payload)\n\nprint(\"Status Code:\", response.status_code)\nprint(\"Response Body:\", response.json())"
            }
          ],
          "samples-languages": [
            "curl",
            "python"
          ]
        }
      }
    }
  }
}