{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
     "/enterprise/v1/io-cloud/caas/price": {
      "get": {
        "tags": [
          "enterprise-io-cloud-caas"
        ],
        "summary": "Get Deployment Price",
        "operationId": "get_deployment_price_enterprise_v1_io_cloud_caas_price_get",
        "parameters": [
          {
            "name": "location_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "list of ids in a form of json array",
              "title": "Location Ids"
            },
            "description": "list of ids in a form of json array"
          },
          {
            "name": "hardware_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Hardware Id"
            }
          },
          {
            "name": "duration_hours",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Duration Hours"
            }
          },
          {
            "name": "gpus_per_container",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Gpus Per Container"
            }
          },
          {
            "name": "replica_count",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Replica Count"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "io.net provided API Key",
              "title": "X-Api-Key"
            },
            "description": "io.net provided API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCaasPriceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl \"https://api.io.solutions/enterprise/v1/io-cloud/caas/price?location_ids=%5B1%2C2%5D&hardware_id=203&duration_hours=1&gpus_per_container=8&replica_count=1\" \\\n  -H \"X-API-KEY: $IOCLOUD_API_KEY\" "
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.io.solutions/enterprise/v1/io-cloud/caas/price\"\n\nheaders = {\n    \"X-API-KEY\": \"$IOCLOUD_API_KEY\"\n}\nparams = [\n    (\"location_ids\", \"[1,2]\"),\n    (\"hardware_id\", 203),\n    (\"duration_hours\", 1),\n    (\"gpus_per_container\", 8),\n    (\"replica_count\", 1)\n]\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"
            }
          ],
          "samples-languages": [
            "curl",
            "python"
          ]
        }
      }
    }
  }
}