{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/enterprise/v1/io-cloud/caas/deployment/{deployment_id}": {
      "patch": {
        "tags": [
          "enterprise-io-cloud-caas"
        ],
        "summary": "Update Container Definition",
        "operationId": "update_container_definition_enterprise_v1_io_cloud_caas_deployment__deployment_id__patch",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Deployment Id"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "io.net provided API Key",
              "title": "X-Api-Key"
            },
            "description": "io.net provided API Key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/io_cloud__schemas__request__enterprise_caas__ContainerUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X PATCH https://api.io.solutions/enterprise/v1/io-cloud/caas/deployment/{deployment_id} \\\n  -H \"X-API-KEY: $IOCLOUD_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n      \"env_variables\": {\n        \"additionalProp1\": \"value1\",\n        \"additionalProp2\": \"value2\",\n        \"additionalProp3\": \"value3\"\n      },\n      \"secret_env_variables\": {\n        \"additionalProp1\": \"secret_value1\",\n        \"additionalProp2\": \"secret_value2\",\n        \"additionalProp3\": \"secret_value3\"\n      },\n      \"entrypoint\": [\"python3\", \"app.py\"],\n      \"traffic_port\": 8080,\n      \"image_url\": \"example_image_url\",\n      \"registry_username\": \"registry_user\",\n      \"registry_secret\": \"registry_secret_value\",\n      \"args\": [\"--debug\"],\n      \"command\": \"run_app\"\n  }'"
            },
            {
              "language": "python",
              "code": "import requests\n\ndeployment_id = \"your_deployment_id\"\n\nurl = \"https://api.io.solutions/enterprise/v1/io-cloud/caas/deployment/{deployment_id}\"\nheaders = {\n    \"X-API-KEY\": \"$IOCLOUD_API_KEY\",\n    \"Content-Type\": \"application/json\"\n}\npayload = {\n  \"env_variables\": {\n    \"additionalProp1\": \"value1\",\n    \"additionalProp2\": \"value2\",\n    \"additionalProp3\": \"value3\"\n  },\n  \"secret_env_variables\": {\n    \"additionalProp1\": \"secret_value1\",\n    \"additionalProp2\": \"secret_value2\",\n    \"additionalProp3\": \"secret_value3\"\n  },\n  \"entrypoint\": [\"python3\", \"app.py\"],\n  \"traffic_port\": 8080,\n  \"image_url\": \"example_image_url\",\n  \"registry_username\": \"registry_user\",\n  \"registry_secret\": \"registry_secret_value\",\n  \"args\": [\"--debug\"],\n  \"command\": \"run_app\"\n}\n\nresponse = requests.patch(url, headers=headers, json=payload)\nprint(response.status_code, response.text)"
            }
          ],
          "samples-languages": [
            "curl",
            "python"
          ]
        }
      }
    }
  }
}