{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
     "/enterprise/v1/io-cloud/vmaas/deploy": {
      "post": {
        "tags": [
          "enterprise-io-cloud-vmaas"
        ],
        "summary": "Deploy Vms",
        "operationId": "deploy_vms_enterprise_v1_io_cloud_vmaas_deploy_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "io.net provided API Key",
              "title": "X-Api-Key"
            },
            "description": "io.net provided API Key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/io_cloud__schemas__request__enterprise_vmaas__VMaasDeployRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X POST \"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/deploy\" \\\n  -H \"x-api-key: $IOCLOUD_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"resource_private_name\": \"example-deployment\",\n    \"node_pool_id\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\",\n    \"duration_hours\": 4,\n    \"gpus_per_vm\": 2,\n    \"hardware_id\": 101,\n    \"location_ids\": [1, 2],\n    \"vms_qty\": 3,\n    \"ssh_keys\": {\n      \"key1\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC...\",\n      \"key2\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD...\"\n    },\n    \"github_ids\": [\"github_user_1\", \"github_user_2\"],\n    \"vm_image_type\": \"general\",\n    \"network_services\": {\n      \"service1\": {\n        \"port\": 22,\n        \"protocol\": \"tcp\",\n        \"whitelist\": [\"0.0.0.0/0\"]\n      },\n      \"service2\": {\n        \"port\": 80,\n        \"protocol\": \"tcp\",\n        \"whitelist\": [\"0.0.0.0/0\"]\n      }\n    }\n  }'"
            },
            {
              "language": "python",
              "code": "import requests\nimport json\n\nurl = \"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/deploy\"\nheaders = {\n    \"x-api-key\": \"$IOCLOUD_API_KEY\",\n    \"Content-Type\": \"application/json\"\n}\ndata = {\n    \"resource_private_name\": \"example-deployment\",\n    \"node_pool_id\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\",\n    \"duration_hours\": 4,\n    \"gpus_per_vm\": 2,\n    \"hardware_id\": 101,\n    \"location_ids\": [1, 2],\n    \"vms_qty\": 3,\n    \"ssh_keys\": {\n        \"key1\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC...\",\n        \"key2\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD...\"\n    },\n    \"github_ids\": [\"github_user_1\", \"github_user_2\"],\n    \"vm_image_type\": \"general\",\n    \"network_services\": {\n        \"service1\": {\"port\": 22, \"protocol\": \"tcp\", \"whitelist\": [\"0.0.0.0/0\"]},\n        \"service2\": {\"port\": 80, \"protocol\": \"tcp\", \"whitelist\": [\"0.0.0.0/0\"]}\n    }\n}\n\nresponse = requests.post(url, headers=headers, data=json.dumps(data))\nprint(response.status_code)\nprint(response.json())"
            }
          ],
          "samples-languages": ["curl", "python"]
        }
      }
    }
  }
}