{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/enterprise/v1/io-cloud/vmaas/deployment/{deployment_id}/vms-jobs/{container_id}": {
      "get": {
        "tags": [
          "enterprise-io-cloud-vmaas"
        ],
        "summary": "Get VMs Jobs History",
        "description": "Retrieve the job execution history for a specific VM/container within a deployment. Includes logs and status of completed or active jobs.",
        "operationId": "getVMsJobsHistory",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Deployment Id"
            }
          },
          {
            "name": "container_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Container Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Page"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "min": 1,
              "default": 20,
              "title": "Page Size"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "io.net provided API Key",
              "title": "X-Api-Key"
            },
            "description": "io.net provided API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "total": {
                          "type": "integer",
                          "title": "Total"
                        },
                        "workers": {
                          "items": {
                            "properties": {
                              "device_id": {
                                "type": "string",
                                "format": "uuid",
                                "title": "Device Id"
                              },
                              "vm_id": {
                                "type": "string",
                                "title": "Vm Id"
                              },
                              "hardware": {
                                "type": "string",
                                "title": "Hardware"
                              },
                              "brand_name": {
                                "type": "string",
                                "title": "Brand Name"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "title": "Created At"
                              },
                              "uptime_percent": {
                                "type": "number",
                                "title": "Uptime Percent"
                              },
                              "gpus_per_vm": {
                                "type": "integer",
                                "title": "Gpus Per Vm"
                              },
                              "status": {
                                "type": "string",
                                "title": "Status"
                              },
                              "vm_events": {
                                "anyOf": [
                                  {
                                    "items": {
                                      "properties": {
                                        "time": {
                                          "type": "string",
                                          "format": "date-time",
                                          "title": "Time"
                                        },
                                        "message": {
                                          "type": "string",
                                          "title": "Message"
                                        }
                                      },
                                      "type": "object",
                                      "required": [
                                        "time",
                                        "message"
                                      ],
                                      "title": "VmEvent"
                                    },
                                    "type": "array"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ],
                                "title": "Vm Events"
                              },
                              "network_services": {
                                "additionalProperties": {
                                  "properties": {
                                    "port": {
                                      "type": "integer",
                                      "title": "Port"
                                    },
                                    "protocol": {
                                      "type": "string",
                                      "enum": [
                                        "tcp",
                                        "udp"
                                      ],
                                      "title": "NetworkProtocol"
                                    },
                                    "whitelist": {
                                      "items": {
                                        "type": "string",
                                        "format": "ipvanynetwork"
                                      },
                                      "type": "array",
                                      "title": "Whitelist"
                                    },
                                    "public_port": {
                                      "type": "integer",
                                      "title": "Public Port"
                                    },
                                    "public_ip": {
                                      "type": "string",
                                      "title": "Public Ip"
                                    },
                                    "srv_record": {
                                      "type": "string",
                                      "title": "Srv Record"
                                    }
                                  },
                                  "type": "object",
                                  "required": [
                                    "port",
                                    "protocol",
                                    "whitelist",
                                    "public_port",
                                    "public_ip",
                                    "srv_record"
                                  ],
                                  "title": "NetworkServiceResponse"
                                },
                                "type": "object",
                                "title": "Network Services"
                              },
                              "ssh_access": {
                                "type": "string",
                                "title": "Ssh Access"
                              }
                            },
                            "type": "object",
                            "required": [
                              "device_id",
                              "vm_id",
                              "hardware",
                              "brand_name",
                              "created_at",
                              "uptime_percent",
                              "gpus_per_vm",
                              "status",
                              "vm_events",
                              "network_services",
                              "ssh_access"
                            ],
                            "title": "WorkerData"
                          },
                          "type": "array",
                          "title": "Workers"
                        }
                      },
                      "type": "object",
                      "required": [
                        "total",
                        "workers"
                      ],
                      "title": "VmJobsData"
                    }
                  },
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "title": "GetVmJobData"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            }
          }
        },
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/deployment/{deployment_id}/vms-jobs/{container_id}?page=0&page_size=20\" \\\n  -H \"x-api-key: $IOCLOUD_API_KEY\" \\\n  -H \"Content-Type: application/json\""
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = f\"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/deployment/{deployment_id}/vms-jobs/{container_id}?page=0&page_size=20\"\nheaders = {\n    \"x-api-key\": \"$IOCLOUD_API_KEY\",\n    \"Content-Type\": \"application/json\"\n}\nresponse = requests.get(url, headers=headers)\nprint(response.status_code)\nprint(response.json())"
            }
          ],
          "samples-languages": ["curl", "python"]
        }
      }
    }
  }
}