{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0",
    "description": "API for managing deployments on IO Cloud VMaaS"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/enterprise/v1",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/io-cloud/vmaas/deployments": {
      "get": {
        "summary": "Get All Deployments",
        "description": "Retrieve a list of all VMaaS deployments associated with the enterprise account, including their status, configuration, and metadata.",
        "operationId": "getAllDeployments",
        "security": [
          {
            "OAuth2": [ "read:deployments" ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (if supported)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of deployments to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter deployments by status (example: running, terminated, pending)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response with list of deployments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deployments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Deployment"
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Number of items per page"
                    },
                    "totalCount": {
                      "type": "integer",
                      "description": "Total number of deployments"
                    }
                  },
                  "required": ["deployments"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – Authentication required or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Deployment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Deployment unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Name of the deployment"
          },
          "status": {
            "type": "string",
            "description": "Current status of the deployment"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the deployment was created"
          },
          "region": {
            "type": "string",
            "description": "Region or location where deployment is running"
          },
          "configuration": {
            "type": "object",
            "description": "Configuration data for deployment (like machine type, GPU count, etc.)",
            "properties": {
              "cpu": { "type": "integer" },
              "memory": { "type": "string" },
              "gpu": { "type": "integer" }
            }
          }
        },
        "required": ["id", "status", "createdAt"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code"
          }
        },
        "required": ["error","code"]
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.io.net/oauth2/token",
            "scopes": {
              "read:deployments": "Read access to list deployments"
            }
          }
        }
      }
    }
  }
}
