{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/enterprise/v1/io-cloud/vmaas/deployment/{deployment_id}": {
      "get": {
        "tags": [
          "enterprise-io-cloud-vmaas"
        ],
        "summary": "Get Deployment Details",
        "description": "Fetch detailed information about a specific deployment by its ID, including cluster specifications, runtime status, and associated resources.",
        "operationId": "get-deployment-details-vmaas",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Deployment Id"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "io.net provided API Key",
              "title": "X-Api-Key"
            },
            "description": "io.net provided API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "title": "Id"
                        },
                        "status": {
                          "type": "string",
                          "title": "Status"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "title": "Created At"
                        },
                        "started_at": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "date-time"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Started At"
                        },
                        "finished_at": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "date-time"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "title": "Finished At"
                        },
                        "amount_paid": {
                          "type": "number",
                          "title": "Amount Paid"
                        },
                        "completed_percent": {
                          "type": "number",
                          "title": "Completed Percent"
                        },
                        "total_gpus": {
                          "type": "integer",
                          "title": "Total Gpus"
                        },
                        "gpus_per_vm": {
                          "type": "integer",
                          "title": "Gpus Per Vm"
                        },
                        "total_vms": {
                          "type": "integer",
                          "title": "Total Vms"
                        },
                        "hardware_name": {
                          "type": "string",
                          "title": "Hardware Name"
                        },
                        "hardware_id": {
                          "type": "integer",
                          "title": "Hardware Id"
                        },
                        "locations": {
                          "items": {
                            "properties": {
                              "id": {
                                "type": "integer",
                                "title": "Id"
                              },
                              "iso2": {
                                "type": "string",
                                "title": "Iso2"
                              },
                              "name": {
                                "type": "string",
                                "title": "Name"
                              }
                            },
                            "type": "object",
                            "required": [
                              "id",
                              "iso2",
                              "name"
                            ],
                            "title": "LocationData"
                          },
                          "type": "array",
                          "title": "Locations"
                        },
                        "brand_name": {
                          "type": "string",
                          "title": "Brand Name"
                        },
                        "compute_minutes_served": {
                          "type": "integer",
                          "title": "Compute Minutes Served"
                        },
                        "compute_minutes_remaining": {
                          "type": "integer",
                          "title": "Compute Minutes Remaining"
                        },
                        "ssh_keys": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "type": "object",
                          "title": "Ssh Keys"
                        },
                        "github_ids": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array",
                          "title": "Github Ids"
                        }
                      },
                      "type": "object",
                      "required": [
                        "id",
                        "status",
                        "created_at",
                        "started_at",
                        "finished_at",
                        "amount_paid",
                        "completed_percent",
                        "total_gpus",
                        "gpus_per_vm",
                        "total_vms",
                        "hardware_name",
                        "hardware_id",
                        "locations",
                        "brand_name",
                        "compute_minutes_served",
                        "compute_minutes_remaining",
                        "ssh_keys",
                        "github_ids"
                      ],
                      "title": "DeploymentDetails"
                    }
                  },
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "title": "GetDeploymentDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            }
          }
        },
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/deployment/{deployment_id}\" \\\n  -H \"x-api-key: $IOCLOUD_API_KEY\" \\\n  -H \"Content-Type: application/json\""
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/deployment/{deployment_id}\"\nheaders = {\n    \"x-api-key\": \"$IOCLOUD_API_KEY\",\n    \"Content-Type\": \"application/json\"\n}\nresponse = requests.get(url, headers=headers)\nprint(response.status_code)\nprint(response.json())"
            }
          ],
          "samples-languages": [
            "curl",
            "python"
          ]
        }
      }
    }
  }
}