{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/enterprise/v1/io-cloud/vmaas/deployments": {
      "get": {
        "summary": "Get All Deployments",
        "description": "Retrieve a list of all VMaaS deployments associated with the enterprise account, including their status, configuration, and metadata.",
        "operationId": "get-all-deployments",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": {
                        "deployments": [
                          {
                            "id": "dep_123456",
                            "name": "My Deployment",
                            "status": "running",
                            "created_at": "2025-09-15T10:00:00Z",
                            "region": "us-east-1",
                            "configuration": {
                              "cpu": 4,
                              "memory": "16GB",
                              "gpu": 1
                            }
                          }
                        ],
                        "total": 1,
                        "page": 1,
                        "pageSize": 10
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deployments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "dep_123456"
                              },
                              "name": {
                                "type": "string",
                                "example": "My Deployment"
                              },
                              "status": {
                                "type": "string",
                                "example": "running"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2025-09-15T10:00:00Z"
                              },
                              "region": {
                                "type": "string",
                                "example": "us-east-1"
                              },
                              "configuration": {
                                "type": "object",
                                "properties": {
                                  "cpu": {
                                    "type": "integer",
                                    "example": 4
                                  },
                                  "memory": {
                                    "type": "string",
                                    "example": "16GB"
                                  },
                                  "gpu": {
                                    "type": "integer",
                                    "example": 1
                                  }
                                }
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "example": 1
                        },
                        "page": {
                          "type": "integer",
                          "example": 1
                        },
                        "pageSize": {
                          "type": "integer",
                          "example": 10
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "No deployments found"
                  }
                },
                "schema": {
                  "type": "string",
                  "example": "No deployments found"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "detail": [
                        {
                          "loc": [
                            "page"
                          ],
                          "msg": "Invalid page number",
                          "type": "validation_error"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "loc": {
                            "type": "array"
                          },
                          "msg": {
                            "type": "string",
                            "example": "Invalid page number"
                          },
                          "type": {
                            "type": "string",
                            "example": "validation_error"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl https://api.io.solutions/enterprise/v1/io-cloud/vmaas/deployments \\\n  -H \"X-API-KEY: $IOCLOUD_API_KEY\" "
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/deployments\"\n\nheaders = {\n    \"X-API-KEY\": \"$IOCLOUD_API_KEY\"\n}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.status_code)\nprint(response.json())"
            }
          ],
          "samples-languages": [
            "curl",
            "python"
          ]
        }
      }
    }
  }
}