{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/enterprise/v1/io-cloud/vmaas/deployment/{deployment_id}/vms": {
      "get": {
        "summary": "Get Deployment VMs",
        "description": "List all virtual machines running within a given deployment, along with their current state and hardware details.",
        "operationId": "get-deployment-vms",
        "parameters": [
          {
            "name": "deployment_id",
            "in": "path",
            "required": true,
            "description": "The unique ID of the deployment.",
            "schema": {
              "type": "string",
              "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number of the results (default 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of items per page (default 20, max 100).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "example": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment VMs retrieved successfully",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": {
                        "total": 0,
                        "workers": [
                          {
                            "device_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                            "vm_id": "string",
                            "hardware": "string",
                            "brand_name": "string",
                            "created_at": "2025-08-26T09:31:40.726Z",
                            "uptime_percent": 0,
                            "gpus_per_vm": 0,
                            "status": "string",
                            "vm_events": [
                              {
                                "time": "2025-08-26T09:31:40.726Z",
                                "message": "string"
                              }
                            ],
                            "network_services": {
                              "ssh_service": {
                                "port": 22,
                                "protocol": "tcp",
                                "whitelist": ["0.0.0.0/0"],
                                "public_port": 2222,
                                "public_ip": "203.0.113.1",
                                "srv_record": "string"
                              }
                            },
                            "ssh_access": "string"
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "workers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "device_id": {
                                "type": "string",
                                "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                              },
                              "vm_id": {
                                "type": "string",
                                "example": "string"
                              },
                              "hardware": {
                                "type": "string",
                                "example": "string"
                              },
                              "brand_name": {
                                "type": "string",
                                "example": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2025-08-26T09:31:40.726Z"
                              },
                              "uptime_percent": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "gpus_per_vm": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "status": {
                                "type": "string",
                                "example": "running"
                              },
                              "vm_events": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "time": {
                                      "type": "string",
                                      "format": "date-time",
                                      "example": "2025-08-26T09:31:40.726Z"
                                    },
                                    "message": {
                                      "type": "string",
                                      "example": "VM started"
                                    }
                                  }
                                }
                              },
                              "network_services": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "object",
                                  "properties": {
                                    "port": {
                                      "type": "integer",
                                      "example": 22
                                    },
                                    "protocol": {
                                      "type": "string",
                                      "example": "tcp"
                                    },
                                    "whitelist": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "example": ["0.0.0.0/0"]
                                    },
                                    "public_port": {
                                      "type": "integer",
                                      "example": 2222
                                    },
                                    "public_ip": {
                                      "type": "string",
                                      "example": "203.0.113.1"
                                    },
                                    "srv_record": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              },
                              "ssh_access": {
                                "type": "string",
                                "example": "ssh user@203.0.113.1 -p 2222"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Deployment not found"
                  }
                },
                "schema": {
                  "type": "string",
                  "example": "Deployment not found"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - invalid request",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "detail": [
                        {
                          "loc": ["string", 0],
                          "msg": "string",
                          "type": "string"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "loc": {
                            "type": "array"
                          },
                          "msg": {
                            "type": "string",
                            "example": "string"
                          },
                          "type": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/deployment/{deployment_id}/vms?page=0&page_size=20\" \\\n  -H \"X-API-KEY: $IOCLOUD_API_KEY\" \\\n  -H \"Content-Type: application/json\""
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/deployment/{deployment_id}/vms?page=0&page_size=20\"\n\nheaders = {\n    \"X-API-KEY\": \"$IOCLOUD_API_KEY\",\n    \"Content-Type\": \"application/json\"\n}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.status_code)\nprint(response.json())"
            }
          ],
          "samples-languages": [
            "curl",
            "python"
          ]
        }
      }
    }
  }
}
