{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/enterprise/v1/io-cloud/vmaas/deployments": {
      "get": {
        "tags": [
          "enterprise-io-cloud-vmaas"
        ],
        "summary": "Get All Deployments",
        "operationId": "get_all_deployments_enterprise_v1_io_cloud_vmaas_deployments_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/io_cloud__schemas__request__enterprise__vmaas__VMaaSResourceStatus"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 10,
              "title": "Page Size"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "io.net provided API Key",
              "title": "X-Api-Key"
            },
            "description": "io.net provided API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/io_cloud__schemas__response__enterprise__vmaas__GetDeploymentsData"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "io_cloud__schemas__request__enterprise__vmaas__VMaaSResourceStatus": {
        "type": "string",
        "enum": [
          "running",
          "completed",
          "failed",
          "deployment requested",
          "termination requested",
          "destroyed"
        ],
        "title": "VMaaSResourceStatus"
      },
      "io_cloud__schemas__response__enterprise__vmaas__GetDeploymentsData": {
        "properties": {
          "data": {
            "$ref": "#/components/schemas/io_cloud__schemas__response__enterprise__vmaas__DeploymentsData-Output"
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "GetDeploymentsData"
      },
      "io_cloud__schemas__response__enterprise__vmaas__DeploymentsData-Output": {
        "properties": {
          "deployments": {
            "items": {
              "$ref": "#/components/schemas/io_cloud__schemas__response__enterprise__kubernetes__DeploymentData"
            },
            "type": "array",
            "title": "Deployments"
          },
          "total": {
            "type": "integer",
            "title": "Total"
          }
        },
        "type": "object",
        "required": [
          "deployments",
          "total"
        ],
        "title": "DeploymentsData"
      },
      "io_cloud__schemas__response__enterprise__kubernetes__DeploymentData": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "completed_percent": {
            "type": "number",
            "title": "Completed Percent"
          },
          "hardware_quantity": {
            "type": "integer",
            "title": "Hardware Quantity"
          },
          "brand_name": {
            "type": "string",
            "title": "Brand Name"
          },
          "hardware_name": {
            "type": "string",
            "title": "Hardware Name"
          },
          "compute_minutes_served": {
            "type": "integer",
            "title": "Compute Minutes Served"
          },
          "compute_minutes_remaining": {
            "type": "integer",
            "title": "Compute Minutes Remaining"
          }
        },
        "type": "object",
        "required": [
          "id",
          "status",
          "name",
          "completed_percent",
          "hardware_quantity",
          "brand_name",
          "hardware_name",
          "compute_minutes_served",
          "compute_minutes_remaining"
        ],
        "title": "DeploymentData"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "HTTPBasic": {
        "type": "http",
        "scheme": "basic"
      },
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  }
}