{
  "openapi": "3.1.0",
  "info": {
    "title": "IO API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.io.solutions/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "oauth2",
        "flows": {}
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/enterprise/v1/io-cloud/vmaas/available-vms": {
      "get": {
        "tags": [
          "enterprise-io-cloud-vmaas"
        ],
        "summary": "Get Available VMs",
        "description": "Retrieve a list of currently available VM types and configurations in the VMaaS cloud.",
        "operationId": "getAvailableVms",
        "parameters": [
          {
            "name": "hardware_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Hardware Id"
            }
          },
          {
            "name": "hardware_qty",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "title": "Hardware Qty"
            }
          },
          {
            "name": "node_pool_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Node Pool Id"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "io.net provided API Key",
              "title": "X-Api-Key"
            },
            "description": "io.net provided API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "title": "Id"
                          },
                          "iso2": {
                            "type": "string",
                            "title": "Iso2"
                          },
                          "name": {
                            "type": "string",
                            "title": "Name"
                          },
                          "available_replicas": {
                            "type": "integer",
                            "title": "Available Replicas"
                          }
                        },
                        "type": "object",
                        "required": [
                          "id",
                          "iso2",
                          "name",
                          "available_replicas"
                        ],
                        "title": "ReplicasPerLocation"
                      },
                      "type": "array",
                      "title": "Data"
                    }
                  },
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "title": "GetAvailableReplicasPerLocationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "items": {
                        "properties": {
                          "loc": {
                            "items": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "integer"
                                }
                              ]
                            },
                            "type": "array",
                            "title": "Location"
                          },
                          "msg": {
                            "type": "string",
                            "title": "Message"
                          },
                          "type": {
                            "type": "string",
                            "title": "Error Type"
                          }
                        },
                        "type": "object",
                        "required": [
                          "loc",
                          "msg",
                          "type"
                        ],
                        "title": "ValidationError"
                      },
                      "type": "array",
                      "title": "Detail"
                    }
                  },
                  "type": "object",
                  "title": "HTTPValidationError"
                }
              }
            }
          }
        },
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X GET \"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/available-vms?hardware_id=101&hardware_qty=2&node_pool_id=pool-123\" \\\n  -H \"x-api-key: $IOCLOUD_API_KEY\" \\\n  -H \"Content-Type: application/json\""
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.io.solutions/enterprise/v1/io-cloud/vmaas/available-vms?hardware_id=101&hardware_qty=2&node_pool_id=pool-123\"\nheaders = {\n    \"x-api-key\": \"$IOCLOUD_API_KEY\",\n    \"Content-Type\": \"application/json\"\n}\nresponse = requests.get(url, headers=headers)\nprint(response.status_code)\nprint(response.json())"
            }
          ],
          "samples-languages": ["curl", "python"]
        }
      }
    }
  }
}